
    <section>
      <h3> Bienvenido a NoTeLimites.com </h3>
      <%= render 'shared/menu_seleccion_settings' %>
    </section>




    <div class="col-md-4 ">
      <div class="row">
        <h1>Configura tu Pérfil</h1>
        <section>
          <%= render 'shared/avatar' %>
        </section>
        <%= form_for(@user, :html => { :multipart => true }) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :imagen %>
            <%= f.file_field :photo %>
              <div class="col-md-7">  <%= f.submit "Sube tu foto de Perfil", class: "btn  btn-large btn-primary" %>     </div>
        <% end %>
        <br>
        <br>

        <br>
        <br>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
              <%= devise_error_messages! %>
              <div><br />
              <%= f.email_field :email, :autofocus => true,  :placeholder => "Email", class: 'input-sm' %></div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div> <i>(Dejalo en blanco si no lo quieres cambiar)</i><br />
              <%= f.password_field :password, :autocomplete => "off", :autofocus => true, :placeholder => "Password", class: 'input-sm' %></div>
                <div><br />
              <%= f.password_field :password_confirmation, :placeholder => "Confirma tu Password", class: 'input-sm' %></div>

              <% if f.object.encrypted_password.present? %>
                <div class="field"><i>(Necesitamos tu password actual por seguridad)</i><br />
                  <%= f.password_field :current_password, :placeholder => "Password Actual", class: 'input-sm' %></div>
              <% end %>
              <div class="col-md-7"><%= f.submit "Actualizar", class: 'btn btn-primary' %></div>
        <% end %>
            <div class="col-md-7">
              <p>Infeliz? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn'  %></p>
            </div>
        <%= link_to "Back", :back%>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div class="row">
        <div class="row">
            <h3>Usuarios que estás siguiendo</h3>
            <% @usuarios.each do |actividad| %>
                <% if current_user.following?(actividad) %>
                <li class="actividades">
                  <div class="actividadestitulo"> <%= link_to actividad.name, actividad %> </div>
                  <%= link_to image_tag(actividad.avatar), actividad, class: 'actividadesimagen'%>
                  <div class="actividadesarticulo"><%=  actividad.name %> </div>
                  <div class="actividadesfollow">
                    <div class="actividadesbarrafollow">
                      <div class="actividadesfollow">
                        <div id="follow_form" >
                              <%= form_for(current_user.relationships.find_by(followed_id: actividad), html: { method: :delete }) do |f| %>
                                  <%= f.submit "Siguiendo", class: "btn " %>
                              <% end %>
                        </div>
                      </div>
                      <div class="actividadescontador">
                        <%= actividad.followers.count%>
                        Usuarios
                      </div>
                    </div>
                  </div>
                </li>

             <% else %>
             <% end %>
            <% end %>
        </div>
          <div class="row">
            <p>Si quieres seguir más usuarios da click <%=	 link_to "aquí", users_seleccionusuarios_path %></p>
          </div>

       </div>
       <div class="row">
        <div class="row">
         <h3>Estdados que estás siguiendo</h3>
          <% @estadosalf.each do |estado| %>
                 <% if current_user.followingestado?(estado) %>
                  <li class="estados">
                    <div class="estadostitulo"> <%= link_to estado.estado, estado %> </div>
                    <%= link_to image_tag(estado.photo.url(:medium)), estado, class: 'estadoimagen'%>
                    <div class="estadoarticulo"><%=  estado.descripcion %> </div>
                    <div class="estadofollow">

                      <div class="estadobarrafollow">
                        <div class="estadofollow">
                          <div id="follow_form" >
                                <%= form_for(current_user.relationestados.find_by(followed_id: estado), html: { method: :delete }) do |f| %>
                                    <%= f.submit "Siguiendo", class: "btn " %>
                                <% end %>
                          </div>
                        </div>
                        <div class="estadocontador">
                          <%= estado.followers.count%>
                          Usuarios
                        </div>
                      </div>
                    </div>
                  </li>
                 <% else %>
                 <% end %>
          <% end %>
        </div>
        <div class="row">
           <p>Si quieres seguir más estados da click <%=	 link_to "aquí", users_seleccionestados_path %></p>
        </div>
       </div>
      <div class="row">
          <div class="row">
            <h3>Actividades que estás siguiendo</h3>
            <% @actividad.each do |actividad| %>
                <% if current_user.followingactividad?(actividad) %>
                    <li class="actividades">
                      <div class="actividadestitulo"> <%= link_to actividad.actividad, actividad %> </div>
                      <%= link_to image_tag(actividad.photo.url(:medium)), actividad, class: 'actividadesimagen'%>
                      <div class="actividadesarticulo"><%=  actividad.descripcion %> </div>
                      <div class="actividadesfollow">
                        <div class="actividadesbarrafollow">
                          <div class="actividadesfollow">
                            <div id="follow_form" >
                                  <%= form_for(current_user.relationactividades.find_by(followed_id: actividad), html: { method: :delete }) do |f| %>
                                      <%= f.submit "Siguiendo", class: "btn " %>
                                  <% end %>
                            </div>
                          </div>
                          <div class="actividadescontador">
                            <%= actividad.followers.count%>
                            Usuarios
                          </div>
                        </div>
                      </div>
                    </li>
                <% else %>
                <% end %>
            <% end %>
          </div>
          <div class="row">
              <p>Si quieres seguir más actividades da click <%=	 link_to "aquí", users_seleccionactividades_path %></p>
          </div>
      </div>
      <div class="row">
        <div class="row">
            <h3>Lugares que estás siguiendo</h3>
            <% @micrositios.each do |actividad| %>
                <% if current_user.followingmicrositio?(actividad) %>
                <li class="actividades">
                  <div class="actividadestitulo"> <%= link_to actividad.name, actividad %> </div>
                  <%= link_to image_tag(actividad.photo.url(:medium)), actividad, class: 'actividadesimagen'%>
                  <div class="actividadesarticulo"><%=  actividad.descripcion %> </div>
                  <div class="actividadesfollow">
                    <div class="actividadesbarrafollow">
                      <div class="actividadesfollow">
                        <div id="follow_form" >
                              <%= form_for(current_user.relationmicrositios.find_by(followed_id: actividad), html: { method: :delete }) do |f| %>
                                  <%= f.submit "Siguiendo", class: "btn " %>
                              <% end %>
                        </div>
                      </div>
                      <div class="actividadescontador">
                        <%= actividad.followers.count%>
                        Usuarios
                      </div>
                    </div>
                  </div>
                </li>
                <% else %>
                <% end %>
            <% end %>
        </div>
        <div class="row">
            <p>Si quieres seguir más lugares da click <%=	 link_to "aquí", users_seleccionlugares_path %></p>
        </div>
      </div>
    </div>
