

    <h1>Todos los micrositios</h1>


    <div class="row">
      <%=	 form_tag micrositios_path , :method => 'get' do %>
          </p>
        <div id="search">  <%= text_field_tag :search, params[:search] %>   </div>
          <%= submit_tag "Search", :name => nil %>
          </p>
      <%	 end %>
    </div>


    <div  id="micrositiocontainer">

      <ul>
        <% @micrositios.take(19).each do |micrositio| %>
            <% if micrositio.photo_file_size? %>
                <li id="cadaevento">
                  <%= link_to micrositio.name, micrositio %>
                  <%= image_tag micrositio.photo.url(:small) %>
                  <%= micrositio.imagen %>
            <% else %>
                <li id="cadaevento">
                  <%= link_to micrositio.name, micrositio %>
                  <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= micrositio.photo_file_name %>"    >
                  <%= micrositio.imagen %>
            <% end %>

        <% end %>

      </ul>


    </div>
