


<h1>Usuarios</h1>


<div class="row ">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0 ">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseOne">
                  Sigue a tus amigos de Facebook en NoTeLimites.com
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in ">
              <div class="panel-body">
                <div class="row" style="margin-top: -15px; margin-bottom: -15px">
                    <% @friends = current_user.friends_using_app %>
                    <% if @friends .nil? %>
                      <div class="text-center" style="margin: 10px">
                          <%	 if current_user.uid.nil? %>
                         <small>  <p>Intenta conectar tu cuenta con facebook para ver si tienes amigos en NoTeLimites.com </p> <i class="icon-facebook-sign"></i>  <%= link_to "Link con Facebook", user_omniauth_authorize_path(:facebook), class: " btn btn-lg btn-primary" %>
                           <p>O invita a tus amigos de facebook</p>                                                 </small>

                            <div class="col-xs-offset-4 col-xs-4">

                          <%	 else %>

                            <small> <p> No hay amigos que mostrar. Como quiera puedes seguir a usuarios destacados </p>    </small>
                          <%	 end %>
                      </div>
                    <% else  %>

                        <% @friends_using_app = @friends.find_all {|x| x['installed'] == true}    %>
                        <% @friends_id = @friends_using_app.map {|x| x['id']}  %>
                        <% @show_friends = @users.find_all{|x| x[:uid] = @friends_id} %>
                        <% @show_friends.each do |x| %>
                            <%	 if x == current_user %>
                            <%	 else %>

                            <div class="row wrapusers" >
                              <div class="col-xs-4    col-sm-2">
                                <% if x.photo_file_name.blank?  %>
                                    <% if x.avatar.blank?  %>
                                        <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchico", :size => "100x50" ), x %>
                                    <%	 else %>
                                        <%= link_to image_tag(x.avatar, class: "avatarchico", :size => "100x50" ), x %>
                                    <% end %>
                                <% else %>
                                    <%= link_to image_tag(x.photo.url(:square), class: "avatarchico", :size => "100x50" ), x %>
                                <%	 end %>
                              </div>
                              <div class="col-xs-5 col-sm-5 ">
                                <div class="row">
                                  <%=	link_to x.name, x %>
                                </div>
                                <div class="row hidden-xs">
                                  <small>   Actividades que sigue <%=         x.followed_actividades.count %>     </small>
                                </div>
                              </div>
                              <div class="col-sm-3 col-xs-3">
                                <div class="row">
                                  <div id="follow_form" >
                                    <% if current_user.following?(x) %>
                                        <%= form_for(current_user.relationships.find_by(followed_id: x), html: { method: :delete })  do |f| %>
                                            <%= f.submit "No seguir", class: "hidden-xs hidden-sm btn btn-primary" %>
                                            <%= button_tag(:type => 'submit', :class => ' hidden-md hidden-lg btn btn-primary') do %>
                                                <i class="glyphicon glyphicon-remove"></i>
                                            <% end %>

                                        <% end %>
                                    <% else %>
                                        <%= form_for(current_user.relationships.build(followed_id: x.id)) do |f| %>
                                            <div><%= f.hidden_field :followed_id %></div>
                                            <%= f.submit  "Seguir", class: "hidden-xs hidden-sm btn" %>
                                            <%= button_tag(:type => 'submit', :class => 'hidden-md hidden-lg btn') do %>
                                                <i class="glyphicon glyphicon-ok"></i>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="row col-xs-12 hidden-sm hidden-lg hidden-md">
                                  <small>   Actividades que sigue <%=         x.followed_actividades.count %>     </small>
                                  <hr>
                                </div>

                            </div>

                <% end %>
                        <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>


  <div class="row ">
    <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0 ">

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseThree">
                 Sigue a otros usuarios
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row" style="margin-top: -15px; margin-bottom: -15px">
                  <%    @users.limit(50).order("RANDOM()").each do |user|          %>

                          <div class="row wrapusers" >
                            <div class="col-xs-4    col-sm-2">
                              <% if user.photo_file_name.blank?  %>
                                  <% if user.avatar.blank?  %>
                                      <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchico", width: "100x100"), user %>
                                  <%         else %>
                                      <%= link_to image_tag(user.avatar, class: "avatarchico", width: "100x100" ), user %>
                                  <% end %>
                              <% else %>
                                  <%= link_to image_tag(user.photo.url(:square), class: "avatarchico", width: "100x100"), user  %>
                              <%         end %>
                            </div>
                            <div class="col-xs-5 col-sm-5 ">
                              <div class="row">
                             <small>   <%=        link_to user.name, user %>  </small>
                              </div>
                              <div class="row hidden-xs">
                                <small>   Actividades que sigue <%=         user.followed_actividades.count %>     </small>
                              </div>

                            </div>
                            <div class="col-sm-3 col-xs-3">
                              <div class="row">
                                <div id="follow_form" >
                                  <% if current_user.following?(user) %>
                                      <%= form_for(current_user.relationships.find_by(followed_id: user), html: { method: :delete })  do |f| %>
                                          <%= f.submit "No seguir", class: "hidden-xs hidden-sm btn btn-primary" %>
                                          <%= button_tag(:type => 'submit', :class => ' hidden-md hidden-lg btn btn-primary') do %>
                                               <i class="glyphicon glyphicon-remove"></i>
                                          <% end %>
                                      <% end %>
                                  <% else %>
                                      <%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
                                          <div><%= f.hidden_field :followed_id %></div>
                                          <%= f.submit  "Seguir", class: "hidden-xs hidden-sm btn" %>


                                          <%= button_tag(:type => 'submit', :class => 'hidden-md hidden-lg btn') do %>
                                              <i class="glyphicon glyphicon-ok"></i>
                                          <% end %>


                                      <% end %>
                                  <% end %>
                                </div>
                              </div>

                            </div>

                          </div>
                          <div class="row">
                            <div class="row col-xs-12 hidden-sm hidden-lg hidden-md">
                              <small>   Actividades que sigue <%=         user.followed_actividades.count %>     </small>
                              <hr>
                            </div>

                          </div>



                  <%  end  %>

                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>




  </div>








