<div class="col-md-6">
  <h3> Randomchat Feed</h3>
  <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
  <strong>Microposts</strong> <%= @user.microposts.count %>
  <%= render 'shared/feed' %>
</div>

<div>
</div>



<div class="col-md-6" style="margin-top: 100px">
  <% if @user.microposts.any? %>
      <%= render 'shared/micropost_form' %>
      <%= will_paginate @microposts %>
  <% end %>
</div>


