
<ul >
  <% @eventos.take(10).each do |estado| %>

      <div class="thumbnail seleccionado" style="margin: 0px">
        <div >
          <% if estado.photo_file_size? %>
              <%= image_tag estado.photo.url(:big), class: "img-responsive", alt: "responsive image" %>
          <% else %>
              <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= estado.photo_file_name %>" class="img-responsive" alt="Responsive image">
          <% end %>
        </div>
        <div class="caption">
          <h3><%= link_to estado.nombre, estado %> </h3>
          <div class="row">
            <div class="col-md-3">
              <% if estado.user.photo_file_name.blank?  %>
                  <% if estado.user.avatar.blank?  %>
                      <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchico"), estado.user %>
                  <%	 else %>
                      <%= link_to image_tag(estado.user.avatar, class: "avatarchico" ), estado.user %>
                  <% end %>
              <% else %>
                  <%= link_to image_tag(estado.user.photo.url(:square), class: "avatarchico"), estado.user %>
              <%	 end %>
            </div>
            <div class="col-md-9">
              <%= link_to estado.user.name , estado %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
              <div class="descripcionmicrositios">   <%=  estado.descripcion  %>  </div>
              </p>
            </div>
          </div>
          <div class="row " style="margin-bottom: 10px; font-weight: bold">
            <div class="col-md-6 col-md-offset-6">
              <%=	 link_to "Ver más -->", estado %>
            </div>
          </div>
          <div class="row" style="margin-top: 5px">
            <div class="col-md-6">
              <div id="follow_form" >
                <% if current_user.followingestado?(estado) %>
                    <%= form_for(current_user.relationestados.find_by(followed_id: estado), html: { method: :delete }) do |f| %>
                        <%= f.submit "Siguiendo", class: "btn " %>
                    <% end %>
                <% else %>
                    <%= form_for(current_user.relationestados.build(followed_id: estado.id)) do |f| %>
                        <div><%= f.hidden_field :followed_id %></div>
                        <%= f.submit "Seguir", class: "btn  btn-primary" %>
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4 estadocontador">
              <%= estado.followers.count%>
              Usuarios lo siguen
            </div>

          </div>
        </div>
      </div>

  <% end %>

</ul>