

<li id="<%= feed_item.id %>">
  <div class="row">
    <div class="col-md-2">
      <% if feed_item.user.photo_file_name.blank?  %>
          <% if feed_item.user.avatar.blank?  %>
              <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchico", :size => "100x50" ), feed_item.user %>
          <%	 else %>
              <%= link_to image_tag(feed_item.user.avatar, class: "avatarchico", :size => "100x50" ), feed_item.user %>
          <% end %>
      <% else %>
          <%= link_to image_tag(feed_item.user.photo.url(:square), class: "avatarchico", :size => "100x50" ), feed_item.user %>
      <%	 end %>


    </div>
    <div class="col-md-6">
      <div class="row">
        <%= link_to feed_item.user.name, feed_item.user %>
      </div>
      <div class="row">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      </div>
    </div>
    <div class="col-md-4">
      <span class="content"><%= feed_item.content %></span>
    </div>
  </div>
</li>