<ul >
  <% @micrositios.each do |actividad| %>

      <li class="actividades">
       <div class="actividadestitulo"> <%= link_to actividad.name, actividad %> </div>
        <%= link_to image_tag(actividad.photo.url(:medium)), actividad, class: 'actividadesimagen'%>
        <div class="actividadesarticulo"><%=  actividad.descripcion %> </div>
        <div class="actividadesfollow">
          <div class="actividadesbarrafollow">
              <div class="actividadesfollow">
                  <div id="follow_form" >
                    <% if current_user.followingmicrositio?(actividad) %>
                        <%= form_for(current_user.relationmicrositios.find_by(followed_id: actividad), html: { method: :delete }) do |f| %>
                            <%= f.submit "Siguiendo", class: "btn " %>
                        <% end %>
                    <% else %>
                        <%= form_for(current_user.relationmicrositios.build(followed_id: actividad.id)) do |f| %>
                            <div><%= f.hidden_field :followed_id %></div>
                            <%= f.submit "Seguir", class: "btn  btn-primary" %>
                        <% end %>
                    <% end %>
                  </div>
              </div>
              <div class="actividadescontador">
                <%= actividad.followers.count%>
                Usuarios

              </div>
          </div>

        </div>
      </li>


  <% end %>


</ul>