<h1>Todos los Eventos</h1>

<div class="contenedor">

<ul>
  <% @eventos.each do |evento| %>
      <% if evento.nombre.blank?  %>
          <li id="cadaevento">
            <%= link_to evento.d1, evento %>
            <%= link_to image_tag(evento.d10), evento %>
      <%	 else %>
          <li id="cadaevento">
              <%= link_to evento.nombre, evento %>
              <%= link_to image_tag evento.photo.url(:small) %>
          </li>
      <% end %>
  <% end %>

</ul>



<%= link_to 'New Evento', new_evento_path %>

</div>
