<div class="contenedor">
  <div id="eventostitulocontendedor">
    <div id="eventostitulovotos">
      <div id="formrow">
        <%= render 'follow_form' if signed_in? %>

        <%= form_for(@evento, :html => { :multipart => true }) do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :votos %>
            <%= check_box_tag 'Vota', 1 %>

        <% end %>
      </div>

    </div>
    <div id="eventostitulo">
      <h1><%=	@evento.nombre %> </h1>
    </div>
    <div id="eventostitulocomparteredes">
      <div class="fb-like" data-href="<%=request.original_url%>" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="box_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="NTLmx" data-lang="es" data-size="large">Twittear</a>
      <div class="g-plusone" data-annotation="inline" data-width="120"></div>

    </div>
  </div>



  <div id="eventosfotoprincipalcontenedor">

      <div id="eventosfotoprincipal">
        <%= image_tag @evento.photo.url(:big) %>
      </div>

      <div id="eventosdescripcioncontenedorimg">
        <article>
              <div id="eventosfecha">
                <p> Fecha del evento: </p>
                <%=	@evento.fecha %>
              </div>
              <div id="eventosartista">
                <p> Artistas: </p>
                <%= 	 @evento.artista %>
              </div>
              <div id="eventosprecio">
                <p>Precio del Evento:</p>
                <p> $ <%=@evento.precio %> </p>
              </div>
              <div id="eventosurloficial">
                <%=@evento.urloficial %>
              </div>

        </article>
      </div>
  </div>

  <article>
  <div id="eventosdescripcioncontenedor">


      <p> Descripción: </p>
      <div id="eventosdescripcion">
      <%=	@evento.descripcion  %>
      </div>

      <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="10"></div>

      <div id="eventosmicrositio">
        <%= @micrositioevento %>
      </div>

  </div>
  </article>
  <div id="eventosotroseventoscontendeor">
  <div id="eventosotroseventostitulo">
    // Otros eventos //
  </div>
  <div id="eventosotroseventos">
      <div>
        <% @eventos.each do |evento|%>
          <ul>
            <div id="eventoimagenesnombre">
            <h2> <%= link_to evento.nombre, evento.nombre %> </h2>
            </div>
            <div id="eventosimagenes">
            <%=	link_to image_tag evento.photo.url(:small) %>
            </div>
            <hr>
          </ul>
         <% end %>
      </div>
  </div>
  <div id="eventosmostrartodos" class="centrado">
    <%=	 link_to "Todos los Eventos", controller:"eventos", action:"index" %>
  </div>
</div>





  <div id="footereventos">
    <div id="eventosmostrartodos">
    <%=	 link_to "Todos los Eventos", controller:"eventos", action:"index" %>
    </div>
  </div>
</div>