<div class="container" style="margin-top: 70px">
 <div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-6">
    <a href="<%=	root_path  %>"> <img src="https://s3.amazonaws.com/imagenes.notelimites/ntl-logo.png" style="width: 400px; margin-bottom: 20px"> </a>
    </div>
  </div>


    <div class="row" id="menuiconos">
      <ul>
        <li class="iconoquienes iconostam"> <%= image_tag("QuienesSomos.png", width: "200")%> </li>
        <li class="iconofaqu iconostam">  <%= image_tag("icono faq.png", width: "200")  %> </li>
        <li class="iconocomo iconostam">  <%= image_tag("icono como funciona.png", width: "200") %> </li>
        <li class="iconoantecedentes iconostam"><%= image_tag("iconos de antecedentes.png", width: "200")%></li>
      </ul>
    </div>

    <div id="quienessomos" class="row">
      <br>
      <h1>¿Quiénes Somos?</h1>
      <p> No Te Limites es una red social de turismo en la cual los usuarios pueden interactuar y compartir

        experiencias que han tenido en sus viajes a lo largo del territorio mexicano. Las experiencias son

        agregadas a la página en forma de reseñas, fotos, videos, comentarios, eventos y ubicaciones.
      </p>
      <div class="row "><%=	 image_tag "QuienesSomoscarretera.jpg" %></div>
      <br>
      <h3>Nuestra ubicación</h3>
      <p>
        Las oficinas de No Te Limites se encuentran en San Pedro Garza García, Nuevo León.
      </p>
      <p>Tel: 01 (81) 83 74 00 34</p>

    </div>
 </div>
</div>

