<h1>Editing actividad</h1>


<div class="row">
  <div id="formrow">

    <%= form_for(@actividad, :html => { :multipart => true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>


        <%= f.label :actividad %>
        <%= f.text_field :actividad %>

        <%= f.label :descripcion %>
        <%= f.text_area :descripcion %>

        <%= f.label :imagen %>
        <%= f.file_field :photo %>

        <%= f.submit "Sube tu actividad", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>


<%= link_to 'Show', @actividad %> |
<%= link_to 'Back', actividad_path %>
