

<% if signed_in? %>
    <!-- sidebar -->
    <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">


    <ul class="nav">
        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
      </ul>
      <ul class="nav hidden-xs" id="lg-menu">
        <li id="fat-menu" class="dropdown" role="menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=  current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Perfil", current_user %></li>
            <li><%= link_to "Configuración", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Salir",  destroy_user_session_path, method: "delete" %>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav hidden-xs" id="lg-menu" >
        <li class="active"><i class="glyphicon glyphicon-list-alt"  style="padding: 10px;"><%= link_to " Discover", root_path %></i></li>
        <li><i class="glyphicon glyphicon-list"  style="padding: 10px;"> <%= link_to "Explore", estados_path %></i></li>
        <li><i class="glyphicon glyphicon-paperclip"  style="padding: 10px;"> <%= link_to "Users", users_path %></i></li>
        <li><i class="glyphicon glyphicon-paperclip"  style="padding: 10px;"> <%= link_to "Activites", actividades_path %></i></li>
        <li><i class="glyphicon glyphicon-paperclip"  style="padding: 10px;"> <%= link_to "Places", micrositios_path %></i></li>
        <li><i class="glyphicon glyphicon-paperclip"  style="padding: 10px;"> <%= link_to "Events", eventos_path %></i></li>
      </ul>
      <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://www.notelimites.com"><h3>NoTeLimites</h3> <i class="glyphicon glyphicon-circle-arrow-down"></i> NTLapp</a>
        </li>
      </ul>


      <!-- tiny only nav-->
      <ul class="nav visible-xs" id="xs-menu">
        <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
        <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
      </ul>

    </div>
    <!-- /sidebar -->
<%	 else %>
<%	 end  %>