<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFAg4UahxEExMg5KMJmd05M4Kq0rBcbEI&sensor=false">

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30392244-1']);
      _gaq.push(['_setDomainName', 'notelimites.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();




  </script>


  <% if signed_in? 	  %>
      <div class="wrapper">
        <div class="box">
          <div class="row row-offcanvas row-offcanvas-left">

            <%= render 'layouts/sidebar' %>

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                <div class="full col-sm-9">





                  <!-- content -->
                  <div class="row">

                    <div class="col-sm-offset-1 col-sm-10 col-xs-10" style="margin-top: 5px; margin-bottom: 5px">
                      <% [:notice, :error, :alert].each do |level| %>
                          <% unless flash[level].blank? %>
                              <div data-alert="alert" class="alert-message <%= flash_class(level) %> fade in">
                                <a class="close" href="#">×</a>
                                <%= content_tag :p, flash[level] %>
                              </div>
                          <% end %>
                      <% end %>
                    </div>




                    <%= yield %>
                  </div>
                </div><!--/row-->


                <%= debug(params) if Rails.env.development? %>



            </div>
            <!-- /main -->

          </div>
        </div>
      </div>





  <%  else %>
      <%= yield %>
  <% end %>



  </body>
</html>